*,body{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
}

/* this section is used to name a custom class */

/* custom class */

.blue-text{
    color: #238CA4;
}

.light-blue-bg{
    background-color: #F5F9FF;
}

.blue-bg{
    background: #238CA4;
}

.blue-border{
    border: 1px solid #238CA4;

}

.underline-text{
    border-bottom: 3px solid #FF933A;
}

.btn-primary {
    background-color: #FF933A;
}

/* custom class ends */

/* Nav starts here */
nav div.btn-group-nav{
    width: 12rem;
    /* border: 1px solid red !important; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    justify-self: center;
}
nav ul>li>a.nav-link{
    color: #3F3D56;
}
 #nav-btn-register{
    display: inline-flex;
    /* height: 3rem; */
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.375rem;
    color: #fff;
    background: #FF933A;
}
 #nav-btn-login{
    display: inline-flex;
    /* height: 3rem; */
    padding: 0.75rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    color: #fff;
    border-radius: 0.375rem;
    background: #3F3D56;
}
/* Nav ends here */

/* Remove bootstrap preStyle starts here  */
input,textarea,select{
    box-shadow: none !important;
}
input:focus,textarea:focus,select:focus{
    border: 1px solid #238CA4 !important;
    
}


/* Remove bootstrap preStyle ends here  */

/* sec1-home Starts here */
/* section.sec1-home .sec1-text-wrapper{

} */

.sec1-home-tp{
    color: #3F3D56;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 189.042%; /* 1.89044rem */
    /* width: 36.4375rem; */
    /* width: 65%; */
    /* border: 1px solid #238CA4; */
}

/* sec1-btn-wrapper starts here */
 .sec1-btn-wrapper{
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row nowrap;
    /* width: 60%; */
}
/* sec1-btn-wrapper ends here */

.sec1-home-bg-img{
    /* background-image: url("./asset/character-working-from-home\ 1.png"); */
    background-repeat: no-repeat;
    background-position: right;
    background-size: fit;
    /* height: 100vh; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.sec1-home-bg-img>img{
    /* width: 77%; */
}

.side-image{
    position: absolute;
    bottom: 0;
    transform: translate(106rem,35%);
}

/* sec1-home ends here */

/* About us starts here */
.top-dot-img,.bottom-dot-img{
    width: 8%;
}
/* About us ends here */

/* support section starts here */
.blue-border-text-wrapper{
    border-radius: 2.375rem;
    border: 1px solid #7CCFE0;
    width: 33.5rem;
    height: 35rem;
    position: relative;
    
}
.blue-border-text-wrapper>p{
    color: #3F3D56;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 275.542%; /* 4.13313rem */
    width: 31.4375rem;
}

.chart-1{
    bottom: -3.5%;
    right: -50%;
}
.chart-2{
    top: 30%;
    left: -66%;
}
.chart-3{
    top: -15%;
    right: -10%;
}

/* support section ends here */


/* Footer section starts here */
.footer-font-size{
    font-size: smaller;
}
/* Footer section ends here */

/* banner starts here */
section.banner{
    background-image: url("./asset/banner-img.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #3F3D56;
    background-position: center;
}
/* banner ends here */

.mobile-mockup-banner{
    position: absolute;
    top: -40%;
    left: 9%;
    /* width: 17%; */
    width: 200px;
    flex-shrink: 0;
}


/* Mobile Version starts here */
@media (max-width: 576px) {  
/* nav starts here */
nav ul{
    /* border: 1px solid red; */
    height: 30vh;
    justify-content: space-evenly;
}
nav ul>li>a.nav-link{
    color: #3F3D56;
    font-size: larger;
}
/* nav ends here */
.side-image{
    position: absolute;
    bottom: 0;
    transform: translate(220%,34%);
    width: 30%;
}
    

 .mobile-mockup-banner{
    position: static;
    top: -40%;
    left: 9%;
    /* width: 17%; */
    width: 190px;
    flex-shrink: 0;
    
}

/* about us page starts here */
.top-dot-img,.bottom-dot-img{
    width: 20%;
}

#img-bus{
    width: 90% !important;
}
/* about us page ends here */


/* support section starts here */
.blue-border-text-wrapper{
    border-radius: 2.375rem;
    border: 1px solid #7CCFE0;
    width: 88%;
    height: auto ;
    position: relative;
    padding: 10px;
    
}
.blue-border-text-wrapper>p{
    color: #3F3D56;
    font-family: Poppins;
    font-size: medium;
    font-style: normal;
    font-weight: 400;
    line-height: 215.542%; /* 4.13313rem */
    width: auto;
}

.chart-1{
    bottom: -3.5%;
    right: -50%;
    display: none;
}
.chart-2{
    top: 30%;
    left: -66%;
    display: none;

}
.chart-3{
    top: -15%;
    right: -10%;
    display: none;

}

/* support section ends here */


}
/* Mobile Version ends here */